@tailwind base;
@tailwind components;
@tailwind utilities;




body {
  background-image: url("../../public/assets/images/SoundFlow-Home.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; 
}
@media (max-width: 767px) {
  body {
    background-size: auto; /* Yeniden boyutlandırmayı otomatik hale getiriyoruz */
  }
}
